.bottom-bar-container {
    flex-direction: row;
    justify-content: flex-start;
    color: #fff80d;
}

.controls-container {
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
}
