.bottom-bar-container {
    width: 100%;
    color: #fff80d;
}

.controls-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.settings-button {
    position: absolute;
    right: 390px;
}
