.message-box {
    display: none;

    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: stretch;
    align-self: stretch;

    background-color: rgba(25, 25, 75, 0.75);
    color: #ffffff;
    border-radius: 4px;
    border-color: #ffffff;
    border-width: 1px;
}

.message-box > .tertiary-button {
    align-self: center;
}
