.Button {
    padding: 15px 25px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: stretch;
    justify-content: flex-start;
    -unity-text-align: middle-center;
}

.Button:hover {
    background-color: rgb(85, 85, 85);
}

.Button:active {
    background-color: rgb(85, 85, 85);
    translate: 0 2px;
}
