.led-screen {
    -unity-font-definition: url("/Assets/Font/CursedTimerUlil-Aznm SDF.asset");
    -unity-text-align: middle-center;
    background-image: resource("UI/images/bgs/led_screen_texture_0");
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 2px;
    border-color: #000000;
}